/* ---- RESTAURAR/ESTIL BÀSIC ---- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.board {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
}

.menu {
  background-image: url(images/background.jpg);
  color: white;
  border-bottom: solid 5px white;
  padding-bottom: 20px;
  padding-top: 20px;
  justify-content: space-between;
}

.menu .logo {
  width: 11rem;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Afegeix una transició per al color de fons i la transformació */
}

.logo:hover {
  transform: scale(1.05); /* Aplicar un efecte d'escala al passar el cursor */
}

.menu .institut, .nom {
  font-weight: bold;
}

.menu .logo, .institut, .nom {
  margin-left: 40px;
}

/* ---- BOARD ---- */
.lanes {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;

  padding: 24px 32px;

  overflow: scroll;
  height: 100%;
}

.heading {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.swim-lane {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #f4f4f4;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  padding: 12px;
  border-radius: 4px;
  width: 225px;
  min-height: 120px;
  flex-shrink: 0;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Afegeix una transició per al color de fons i la transformació */

}

.swim-lane:hover {
  background-color: #f0f0f0; /* Canvia el color de fons al passar el cursor */
  transform: scale(1.05); /* Aplicar un efecte d'escala al passar el cursor */
}

.task {
  background: white;
  color: black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: move;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Afegeix una transició per al color de fons i la transformació */
}

.task:hover {
  background-color: #f0f0f0; /* Canvia el color de fons al passar el cursor */
  transform: scale(1.05); /* Aplicar un efecte d'escala al passar el cursor */
}


.is-dragging {
  scale: 1.05;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: rgb(50, 50, 50);
  color: white;
}

.menu-options {
  float: right;
  margin-right: 40px;
}

.menu-options button {
  margin-right: 10px;
  padding: 8px;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Afegeix una transició per al color de fons i la transformació */

}

.menu-options button:hover {
  background-color: rgb(184, 184, 184);  
  color: white; /* Canvia el color del text al passar el cursor */
  border-color: white;
  transform: scale(1.05); /* Aplicar un efecte d'escala al passar el cursor */
}

/* Afegit al teu codi actual */
/* Estil del modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  max-width: 400px; /* Limitant l'amplada màxima del modal */
  margin: auto; /* Centre el modal horitzontalment */
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #555; /* Canvia el color del botó de tancament */
}

/* Estil per a les etiquetes en el modal */
.modal-content label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Estil per introduir text i seleccionar elements */
.modal-content input,
.modal-content select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estil per als botons en el modal */
.modal-content button {
  background-color: #28c1e0;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 8px;
}

/* Estil per al botó de tancament en el modal */
.modal-content button.close-btn {
  background-color: #f44336; /* Color vermell per al botó de tancar */
}

/* Estil per als botons en el modal responsable */
#responsible-modal button {
  background-color: #2196f3;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 8px;
}

/* Estil per als botons en el modal responsable */
#responsible-modal button#remove-responsible-btn {
  background-color: #f44336; /* Red color for remove responsible button */
}

/* Estil per als botons en el modal d'informació */
#info button {
  background-color: #2196f3;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

/* Estil per als botons en el modal d'informació */
#info button.close-btn {
  background-color: #f44336; /* Color vermell per al botó de tanca */
}

.abrir {
  display: none;
}

.img-mobile {
  display: none;
}

/* Ajustaments addicionals per a dispositius mòbils i tauletes */
@media screen and (max-width: 850px) {
  .abrir {
    display: block;
    float: right;
    margin-right: 20px;
    cursor: pointer; /* Afegeix un punter al botó */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Afegeix transicions al botó */
    background-color: transparent; /* Color de fons del botó */
    color: white; /* Color del text del botó */
    padding: 5px 10px; /* Ajusta l'espaiat intern del botó */
    border-color: white; /* Elimina la vora del botó */
    border-radius: 5px; /* Afegeix cantonades arrodonides al botó */
  }

  .abrir:hover {
    transform: scale(1.1); /* Afegeix un efecte d'escala en passar el cursor sobre el botó */
  }

  .img-mobile {
    display: block;
    width: 10rem;
    margin-left: 20px;
  }

  .institut,
  .nom {
    display: none;
  }

  .logo {
    display: none;
  }

  .menu-options {
    flex-direction: column;
    align-items: stretch;
    margin-top: 25px;
    margin-right: 0;
    width: 100%;
  }

  .menu-options button {
    text-align: center;
    margin-right: 0;
    width: 100%;
    border-radius: 1px;
    border-bottom: 1px black solid;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer; /* Añade un puntero a los botones del menú */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Añade una transición a los botones del menú */
  }

  .menu-options button:hover {
    background-color: rgb(214, 224, 233);
    color: #ffffff;
    border-color: white;
    transform: scale(1.05);
  }

  .menu-options button:last-child {
    border-bottom: none;
  }

  .lanes {
    flex-direction: column;
    align-items: center;
  }

  .swim-lane {
    width: 100%;
    margin-bottom: 16px;
  }
}
